@use "../shared";

.card-creator {
    @include shared.sizes(475px, 32px);
    border-radius: 3px;
    border: 1px solid #696969;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.text-field {
    border-radius: 2px 0 0 2px;
    flex-grow: 1;
    border: none;
    padding-left: 4px;
    font-size: 16px;

    &:focus {
        background-color: #f3f3f3;
    }

    &:-moz-focusring {
        outline: none;
    }
}

.add-btn{
    border-radius: 0 2px 2px 0;
    width: 55px;
    color: #ffffff;
    background-color: shared.$main_button_color;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover, &:focus {
        background-color: darken($color: shared.$main_button_color, $amount: 7);
    }

    &:active {
        background-color: lighten($color: shared.$main_button_color, $amount: 5);
    }

    &:-moz-focusring {
        outline: none;
    }
}

.select-block {
    margin: 50px auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .select {
        @include shared.sizes(80px, 30px);
        padding: 5px;
        font-size: 14px;
        cursor: pointer;
        

        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #696969;
    }
}

.todo-board {
    width: 80%;
    border-radius: 3px;
    height: max-content;
    // max-height: 180px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: end;
    align-items: start;
    overflow: hidden auto;
}

.clear-btn{
    margin: 50px auto;
    display: block;
    border-radius: 3px;
    @include shared.sizes(120px, 40px);
    font-size: 20px;
    color: #ffffff;
    background-color: shared.$destr_button_color;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: darken($color: shared.$destr_button_color, $amount: 5);
    }

    &:active {
        background-color: #fff;
        transform: scale(1.2);
    }
}

.note-text {
    text-align: center;
    color:#696969;
}

app-card {
    width: 100%;
}

@media (max-width:600px) {
    .card-creator {
        @include shared.sizes(80%, 32px);
    }

    .note-text {
        width: 80%;
    }
}

@media (max-width:480px) {
    .add-btn-text {
        display: none;
    }

    .add-btn{
        width: 32px;

        &::after {
            content: "+";
            font-size: 24px;
            font-style: bold;
        }
    }

    .select-block {
        flex-wrap: wrap;
    }
    
}