@use "../shared";

$card_creator_width: 2px;

.main {

}

.card-creator {
    @include shared.sizes(475px, 32px);
    border-radius: calc(shared.$default-border-radius + $card_creator_width);
    border: $card_creator_width solid #696969;
    margin: 0 auto;
    @include shared.flexbox(row,space-between,stretch);
    flex-wrap: nowrap;

    &.dark {
        border-color: #00a63e;
    }
}

.text-field {
    border-radius: shared.$default-border-radius 0 0 shared.$default-border-radius;
    flex-grow: 1;
    border: none;
    padding-left: 4px;
    font-size: 16px;

    &:focus {
        background-color: #f3f3f3;
    }

    &.dark {
        background-color: #424242;
        color: #f8f8f8;

        &:focus {
        background-color: #747474;
    }

    }
    &:-moz-focusring {
        outline: none;
    }
}

.add-btn{
    border-radius: 0 shared.$default-border-radius shared.$default-border-radius 0;
    width: 55px;
    color: shared.$default-light-text-color;
    background-color: shared.$main_button_color;
    border: none;
    @include shared.baseBtnAnimations(shared.$main_button_color);
    
    &:-moz-focusring {
        outline: none;
    }
}

.categories-label {
    &.dark {
        color: shared.$default-light-text-color;
    }
}

.select-block {
    margin: 50px auto;
    width: fit-content;
    @include shared.flexbox(row,center,center);
    gap: 10px;

    .select {
        @include shared.sizes(80px, 30px);
        padding: 5px;
        font-size: 14px;
        cursor: pointer;
        

        background-color: #fff;
        border-radius: shared.$default-border-radius;
        border: 1px solid #696969;

        &.dark {
            background-color: #424242;
            color: #f8f8f8;
        }
    }
}

.todo-board {
    width: 80%;
    margin: 0 auto;
    border-radius: shared.$default-border-radius;
    height: max-content;
    // max-height: 180px;
    @include shared.flexbox(column-reverse,end,start);
    gap: 10px;
    overflow: hidden auto;
}

.clear-btn{
    margin: 50px auto;
    display: block;
    border-radius: shared.$default-border-radius;
    @include shared.sizes(120px, 40px);
    font-size: 20px;
    color: shared.$default-light-text-color;
    background-color: shared.$destr_button_color;
    border: none;
    @include shared.baseBtnAnimations(shared.$destr_button_color);

    &:active {
        transform: scale(1.2);
    }
}

.note-text {
    text-align: center;
    color:#696969;
    margin-bottom: 50px;

    &.dark {
        color: #8d8d8d;
    }
}

app-card {
    width: 100%;
}

@media (max-width:600px) {
    .card-creator {
        @include shared.sizes(80%, 32px);
    }

    .note-text {
        width: 80%;
    }
}

@media (max-width:480px) {
    .add-btn-text {
        display: none;
    }

    .add-btn{
        width: 32px;

        &::after {
            content: "+";
            font-size: 24px;
            font-style: bold;
        }
    }

    .select-block {
        flex-wrap: wrap;
    }
    
}