@use "./card.module";
@use "./shared";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;

    &:hover {
        cursor: pointer;
    }
}

body, html {
    height:100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.title {
    text-align: center;
    margin: 50px auto;
}

.card-creator {
    width: 450px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.text-field {
    flex-grow: 1;
    height: 30px;
    padding-left: 4px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #696969;
}

.add-btn{
    border-radius: 3px;
    width: 55px;
    color: #ffffff;
    background-color: shared.$main_button_color;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: darken($color: shared.$main_button_color, $amount: 5);
    }

    &:active {
        background-color: lighten($color: shared.$main_button_color, $amount: 5);
    }
}

.select-block {
    margin: 50px auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;

    .select {
        width: 80px;
        height: 30px;
        padding: 5px;
        font-size: 14px;
        

        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #696969;
    }
}

.submit-btn{
    border-radius: 3px;
    width: 55px;
    height: 30px;
    color: #ffffff;
    background-color: shared.$main_button_color;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: darken($color: shared.$main_button_color, $amount: 5);
    }

    &:active {
        background-color: lighten($color: shared.$main_button_color, $amount: 5);
    }
}

.todo-board {
    width: 80%;
    border-radius: 3px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    max-height: 180px;
    overflow-y: auto;
}

.clear-btn{
    margin: 50px auto;
    display: block;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    background-color: shared.$main_button_color;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: darken($color: shared.$main_button_color, $amount: 5);
    }

    &:active {
        background-color: #fff;
        transform: scale(1.2);
    }
}

.note-text {
    color:#696969;
}
