* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;

    &:hover {
        cursor: pointer;
    }
}

body, html {
    height:100%;
    scroll-behavior: smooth;
}
