@use "./shared";

@keyframes slidein {
  from {
    bottom: -100px;
  }

  to {
    margin-top: 20px;
  }
}

main {
    @include shared.flexbox(column,start,center);
}

app-card-field {
    width: 100%;
    @include shared.flexbox(column,start,center);
}

.up-btn {
    @include shared.sizes(50px,50px);
    border-radius: shared.$default-border-radius;
    background-color: shared.$main_button_color;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    color: #fff;
    animation-duration: 0.4s;
    animation-name: slidein;
    @include shared.baseBtnAnimations(shared.$main_button_color);
}

.up-btn-text {
    @include shared.centerIn();
    font-size: 35px;
}