@use "./shared";

@keyframes slidein {
  from {
    bottom: -100px;
  }

  to {
    margin-top: 20px;
  }
}

main {
    @include shared.flexbox(column,start,center);
}

app-card-field {
    width: 100%;
    @include shared.flexbox(column,start,center);
}

.up-btn {
    @include shared.sizes(50px,50px);
    border-radius: shared.$default-border-radius;
    background-color: shared.$main_button_color;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    color: shared.$default-light-text-color;
    animation-duration: 0.4s;
    animation-name: slidein;

    &.dark {
      background-color: darken($color: shared.$main_button_color, $amount: 10);

      @include shared.baseBtnAnimations(darken($color: shared.$main_button_color, $amount: 10));
    }

    @include shared.baseBtnAnimations(shared.$main_button_color);
}

.up-btn-text {
    @include shared.centerIn();
    font-size: 35px;
}

.container{
  min-height: 100vh;
  &.dark {
    background-color: #2b2b2b;
  }
}