@use "../shared";

@keyframes slidein {
  from {
    margin-left: 100vw;
  }

  to {
    margin-left: 0vw;
  }
}

@mixin cardBtn($bc){
    min-width: shared.$card_button_size;
    height: shared.$card_button_size;
    border-radius: shared.$default-border-radius;
    color: shared.$default-light-text-color;
    background-color: $bc;
    border: none;
    cursor: pointer;

    opacity: 75%;

    &:hover {
        opacity: 100%;
    }
}

@mixin todoCard($bc, $isDoneBtnVisible) {
    background-color: $bc;
    width: 80vw;
    min-height: shared.$min_card_height;
    padding: 10px;
    border-radius: shared.$default-border-radius;
    @include shared.flexbox(row,space-between,center);
    gap: 50px;

    animation-duration: 0.5s;
    animation-name: slidein;

    .done-btn, .del-btn, .edit-btn {
        display: none;
    }

    &:hover {
        .del-btn, .edit-btn {
            display: inline-block;
        }

        @if $isDoneBtnVisible {
            .done-btn {
                display: inline-block;
            }
        }
    }

    &.dark {
        background-color: darken($color: $bc, $amount: 50);
    }
}

.todo-card {
    @include todoCard(#d5d5d5, true);
}

.todo-card-done {
    @include todoCard(#ace5af, false);
    overflow: hidden;

    .card-title {
        text-decoration: underline;
    }
}

.card-title {
    flex-grow: 1;
    hyphens: auto;
    overflow-wrap: break-word;

    &.dark {
        color: #f8f8f8;
    }
}

.button-container {
    min-width: calc(3*shared.$card_button_size + 2*10px);
    height: shared.$card_button_size;
    @include shared.flexbox(row,end,center);
    gap: 10px;
}

.done-btn {
    @include cardBtn(shared.$main_button_color);
}

.del-btn {
    @include cardBtn(shared.$destr_button_color);
}

.edit-btn {
    @include cardBtn(#787878);
}